* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1.58;
  padding: 0;
  margin: 0;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}

hr {
  display: block;
  outline: none;
  height: 1px;
  border-top: 1px solid #eee;
  width: 100%;
}

p,
s,
em,
input {
  font-size: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    border-bottom: 1px solid #e0e0e0;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-weight: bolder !important;
  font-size: 2.75rem;
  margin-bottom: 6px;
}

h5 {
  font-size: 13px;
  color: #696c74;
  font-style: italic;
}

input {
  display: block;
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;

  &:focus,
  &:active {
    border-bottom-color: black;
  }
}

label {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
}

.task-title {
  font-size: 15px;
  font-weight: bold;
}

// textarea
.task-description {
  border: none;
  font-size: 12px;
  border-top: 1px solid #d4d4dc;
  width: 100%;
  font-family: inherit;
  background-color: transparent;
  padding: 10px 0;
  margin-bottom: 10px;
  outline: none;
  resize: none;
}

textarea.unstyled {
  resize: none;
  outline: none;
  border: none;
  font-family: inherit;
  width: 100%;
  padding: 0;
  margin: 0;
}

.task {
  a,
  a:visited {
    color: rgb(56, 173, 169);
    font-weight: bold;
    font-style: inherit;
    word-break: break-all;
  }

  .task-title-input {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;

    &.strike {
      text-decoration: line-through;
    }
  }

  .task-description-input {
    padding-top: 5px;
    font-size: 13px;
    color: rgb(123, 130, 150);
    font-weight: 400;
    margin: 0;
  }
}

button {
  cursor: pointer;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  padding: 0;
  margin: 0;
  flex: 1 0 16px;
  cursor: pointer;
}

.label {
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  padding: 4px 6px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  outline: none;

  &:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.active {
    color: white;
    border: 1px solid;
  }

  &.small {
    border: none;
    padding: 2px 4px;
    font-size: 11px;
    background: #eee;
  }
}

.label-x {
  padding: 0;
  margin: 0;
}

.task-input {
  border-radius: 3px;

  input {
    padding: 1em 0.25em;
  }
}

.label-input,
.task {
  .remove-icon {
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }

  &:hover {
    .remove-icon {
      visibility: visible;
    }
  }
}

.remove-icon {
  color: #aaa;
  cursor: pointer;
  padding: 0 10px;
  margin: 0;

  &:hover {
    color: #333;
  }
}

.button-link {
  display: block;
  color: rgb(123, 130, 150);
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

.description {
  color: rgb(123, 130, 150);
}

.color-picker {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.06);
  padding: 1em;
  border: 1px solid #f1f2f6;
  position: absolute;
  z-index: 10;
  transform: translateY(-20px);
}

.notes-input {
  width: 100%;
  background: #eee;
  padding: 1em;
  font-size: 14px;
  resize: none;
  border: none;
  font-family: inherit;
  border-radius: 4px;
  outline: none;
  line-height: 1.5;
}

.hidden-input {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

.checkbox label {
  font-size: 20px;
  cursor: pointer;
}

.calendar-day {
  text-align: center;
  opacity: 0.4;
  cursor: pointer;
  border-top: 2px solid transparent;

  &:hover {
    opacity: 0.8;
  }

  &.active {
    border-top: 2px solid #ff6b81;
    opacity: 1;
  }

  &.today small {
    font-weight: bold;
  }

  &.hasNote {
    opacity: 1;

    small {
      color: #ff6b81;
      font-weight: bold;
    }
  }

  small {
    font-size: 11px;
  }

  em {
    font-weight: bold;
    font-size: 13px;
  }
}

footer {
  padding: 1.5em 0 0;
  border-top: 2px solid #e3e3e3;
  border-top: 2px solid black;
  font-size: 14px;
  font-weight: bold;

  a {
    color: black;
    text-decoration: inherit;
    font-style: normal;
  }
}

button.no-style {
  background: transparent;
  outline: none;
  border: none;
  color: inherit;
}
